.page12-page {
    .letter {
        font-size: 20px;
        color: #1890ff;
      }
      .content {
        display: inline-block;
        font-size: 16px;
        padding: 0 6px;
        line-height: 30px;
        border-radius: 3px;
        cursor: pointer;
      }
      .content:hover {
        color: #fff;
        background: #1890ff;
      }
}
